

body{
	div {
  width: 300px;
  border: 15px black;
  padding: 50px;
  margin: 20px;
}

{justify-content
 
 display: flex;
 center 
}


#character_boss {

display: flex;
flex-start

} 

.character_boss {

display: flex;
flex-start

} 


}
